:root {
  --primary-color: #212121;
  --second-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --bg-color: #f5f5f5;
  --logo-color: #000000;
  --solutions-color: #ffffff;
  --footer-color: rgba(255, 255, 255, 0.6);
  --comand-background: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.hidden-title {
  display: none;
}
/*------Header-------*/
.header-logo {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-size: 26px;
  color: var(--logo-color);
  text-decoration: none;
}
.logos {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  text-decoration: none;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0, 02em;
  color: var(--second-color);
  text-decoration: none;
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  text-decoration: none;
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/*-----Main-----*/
.hero {
  background-color: var(--background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-color);
}
.header-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.header-btn:hover,
.header-btn:focus {
  background-color: var(--accent-color);
}
.feature-list {
  list-style: none;
}
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}
.about-items {
  list-style: none;
}
.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/*------About------*/
.hidden-title {
  display: none;
}
.about-title {
  font-size: 36px;
  line-height: 1.7em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

/*------Comand------*/
.comand {
  background-color: var(--comand-background);
}
.comand-pre-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.comand-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.comand-post-title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

/*----Footer------*/
.footer {
  background-color: var(--background-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--solutions-color);
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}
.contact-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--solutions-color);
  text-decoration: none;
}
.contact-adress:hover,
.contact-adress:focus {
  color: var(--accent-color);
}
.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color);
  text-decoration: none;
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

/*-----PORTFOLIO-----*/
.btn-list {
  list-style: none;
}
.btn-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  border-style: hidden;
  border-radius: 4px;
  color: var(--primary-color);
}
.btn-portfolio {
  background-color: #f5f4fa;
  border-radius: 4px;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.menu {
  list-style: none;
}
.menu-title {
  text-decoration: none;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}
.menu-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
